ul.menu
{
    list-style: none
}

ul.menu li
{
    border-left: 1px solid gray;
    padding-left: 10px;
    margin-bottom: 10px;
}

ul.menu li:hover {
    margin-left: -1px;
    border-left: 2px solid gray;
}

ul.menu a:hover {
    text-decoration: none;
}

.menu-title
{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 12pt;
    font-weight: 700;
}

.footer
{
    text-align:center;
    margin-bottom: 20px;
    margin-top: 50px;
}