{% include head.html %}

    <div class="container blog-container">
      <div class="col-md-8  col-md-offset-2">
        <div class="pull-right">
          <a href="/feed.xml"><img src="/assets/feed-icon-28x28.png"/></a>
        </div>
        {{ content }}
      </div>

    </div><!-- /.container -->

{% include footer.html %}
    
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    
