{% include head.html %}

<div class="container">  
      <div class="col-md-3">
        <div data-spy="affix-top" data-offset-top="60" data-offset-bottom="200">
          
          <div class="menu-title">Introduction</div>
          <ul class="menu">
            <li><a href="/docs/getting_started.html">Getting Started</a></li>
            <li><a href="/docs/hello_world.html">Hello World example</a></li>
          </ul>

          <div class="menu-title">Core concepts</div>
          <ul class="menu">
            <a href="/docs/symbols.html"><li>Symbols and Statically introspectable objects</li></a>
            <a href="/docs/apis.html"><li>APIs and procedures</li></a>
            <a href="/docs/middlewares.html"><li>Middlewares</li></a>
            <a href="/docs/backends.html"><li>Backends</li></a>
          </ul>
          
          <div class="menu-title">Middlewares</div>
          <ul class="menu">
            <a href="/docs/sql.html"><li>SQL</li></a>
            <a href="/docs/sql_orm.html"><li>SQL ORM</li></a>
            <a href="/docs/sessions.html"><li>Sessions</li></a>
            <!--<li>Logging</li>-->
          </ul>

          <div class="menu-title">Backends</div>
          <ul class="menu">
            <a href="/docs/microhttpd.html"><li>Microhttpd</li></a>
            <a href="/docs/lwan.html"><li>Lwan</li></a>
            <a href="/docs/websocketpp.html"><li>Websocketpp</li></a>
          </ul>

          <div class="menu-title">Generic handlers</div>
          <ul class="menu">
            <a href="/docs/sql_rest.html"><li>SQL REST</li></a>
            <a href="/docs/sql_crud.html"><li>SQL CRUD</li></a>
          </ul>
          
          <!--<div class="menu-title">Message Formats</div>
          <ul class="menu">
            <li>JSON</li>
          </ul>-->


          <div class="menu-title">Benchmarks</div>
          <ul class="menu">
            <a href="/docs/hello_world_benchmark.html"><li>Hello World</li></a>
          </ul>

          <br/>
          
        </div>
      </div>
      <div class="col-md-9">
        {{ content }}
      </div>

    </div><!-- /.container -->

{% include footer.html %}
    
