{% include head.html %}

<div class="jumbotron">
  <div class="container">
    <img src="images/logo1_160.png">
      <h1>The Silicon C++ Web Framework</h1>
    <p>An almost zero-cost C++ abstraction built on top to easily leverage high  performance webservers</p>

              <iframe src="http://ghbtns.com/github-btn.html?user=matt-42&repo=silicon&type=watch&count=true" height="30" width="118" frameborder="0" scrolling="0" style="width:118px; height: 20px;" allowTransparency="true"></iframe> 
              <div class="g-plus" data-action="share" data-height="20" data-annotation="bubble" style="float:left; padding-top: 10px;"></div>

              <a href="https://twitter.com/share" class="twitter-share-button" style="float:left; padding-top: 10px;">Tweet</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>            
              
              <br/>
    <p><a class="btn btn-primary btn-lg" style="margin-top:20px;" href="/docs/getting_started.html" role="button">Get Started</a></p>

    
  </div>
</div>

<div class="container">
  <div class="col-md-10 col-md-offset-1">
    {{ content }}
  </div>
  
</div><!-- /.container -->

{% include footer.html %}

