<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>The Silicon Web Framework</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <a href="https://github.com/matt-42/silicon"><img style="position: absolute; top:50px; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">The Silicon Web Framework</a>
        </div>

      </div>
    </nav>

    <div class="container">
      <div class="col-md-3">
        <div data-spy="affix-top" data-offset-top="60" data-offset-bottom="200">

          <p>
            <iframe src="http://ghbtns.com/github-btn.html?user=matt-42&repo=silicon&type=watch&count=true" height="30" width="118" frameborder="0" scrolling="0" style="width:118px; height: 20px;" allowTransparency="true"></iframe>
            
          </p>
          
          <div class="menu-title">Introduction</div>
          <ul class="menu">
            <li><a href="/">Welcome</a></li>
            <li><a href="/docs/hello_world.html">Hello World example</a></li>
          </ul>

          <div class="menu-title">Core concepts</div>
          <ul class="menu">
            <a href="/docs/symbols.html"><li>Symbols and Statically introspectable objects</li></a>
            <a href="/docs/apis.html"><li>APIs and procedures</li></a>
            <a href="/docs/middlewares.html"><li>Middlewares</li></a>
            <a href="/docs/backends.html"><li>Backends</li></a>
          </ul>
          
          <div class="menu-title">Middlewares</div>
          <ul class="menu">
            <a href="/docs/sql.html"><li>SQL</li></a>
            <a href="/docs/sql_orm.html"><li>SQL ORM</li></a>
            <a href="/docs/sessions.html"><li>Sessions</li></a>
            <!--<li>Logging</li>-->
          </ul>

          <div class="menu-title">Backends</div>
          <ul class="menu">
            <a href="/docs/microhttpd.html"><li>Microhttpd</li></a>
            <a href="/docs/mimosa.html"><li>Mimosa</li></a>
            <a href="/docs/websocketpp.html"><li>Websocketpp</li></a>
          </ul>

          <div class="menu-title">Generic handlers</div>
          <ul class="menu">
            <a href="/docs/sql_crud.html"><li>SQL CRUD</li></a>
          </ul>
          
          <!--<div class="menu-title">Message Formats</div>
          <ul class="menu">
            <li>JSON</li>
          </ul>-->


          <div class="menu-title">Benchmarks</div>
          <ul class="menu">
            <a href="/docs/hello_world_benchmark.html"><li>Hello World</li></a>
          </ul>

          <br/>
          <a href='https://pledgie.com/campaigns/28272'><img alt='Click here to lend your support to: The Silicon Web Framework and make a donation at pledgie.com !' src='https://pledgie.com/campaigns/28272.png?skin_name=chrome' border='0' ></a>            
          
          
        </div>
      </div>
      <div class="col-md-9">
        {{ content }}
      </div>

    </div><!-- /.container -->

      <div class="container footer">
         All rights reserved. Matthieu Garrigues. Contact me: matthieu.garrigues _at_ gmail.com
      </div>
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59186166-1', 'auto');
  ga('send', 'pageview');

</script>

  </body>
</html>

